* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  background: #002B36;
}

.container{
  min-height:auto;
  margin: 24px auto;
  background: #839496;
 
}
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

form input{
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 12px;
  margin-right: 8px;
  
}
form button {
  background: #c09b26;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

form button:hover{
  color:rgb(156, 95, 95);
  border: 2px solid rgba(204, 92, 64, 0.774);
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.todos{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list-items{
  min-width: 30%;
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}
.card-header{
  display: flex;
  justify-content: center;
  align-items:center;
}

.card-header-title{
  color:white;
}
.list-items{
  background: #2AA198;
  color:#fff;
  padding: 10px;
}
.delete-button button{
  background-color: #D33682;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
} 
.delete-button button:hover{
  background-color: #b86868;
  color: black;
}